<?php
$year = date('Y');
$header = <<<EOF
@package    CMSScanner
@copyright  Copyright (C) 2014 - $year CMS-Garden.org
@license    MIT <https://tldrlegal.com/license/mit-license>
@link       http://www.cms-garden.org
EOF;
return PhpCsFixer\Config::create()
    ->setUsingCache(false)
    ->setRules(array(
        'header_comment' => array(
          'header' => $header,
          'commentType' => 'PHPDoc',
          'location' => 'after_open',
          'separate' => 'bottom',
        )
    ))
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('tests/mockfiles')
            ->exclude('vendor')
            ->in(__DIR__)
    )
;
